# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.HouseGen.iml
# Datasource local storage ignored files
/../../../../../../../:\Unity\Proyectos 2021\HouseGen\.idea\.idea.HouseGen\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
